<div class="card space-y-4">
  <div class="flex justify-between gap-4">
    <div class="flex items-end">
      <h4 class="font-semibold">
        Selected : {{totalSelected()}}/{{totalData()}}
      </h4>
    </div>
    <div class="flex gap-4">
      @if(showFrozen()){
      <p-togglebutton [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Action'" offLabel="Action"
        (onChange)="actionFrozen.set(!actionFrozen())" size="small" />
      }
      <p-button (click)="op.toggle($event)" icon="pi pi-sliders-h" label="Column" size="small" />
    </div>
  </div>
  <p-table [scrollable]="true" [value]="dataTable()" [virtualScroll]="virtualScroll()"
    [virtualScrollItemSize]="rowHeight()" [scrollHeight]="scrollHeight()">
    <ng-template #header>
      <tr>
        <th>
          <p-checkbox [binary]="true" [ngModel]="allSelected" (onChange)="toggleSelectAll($event)">></p-checkbox>
        </th>
        @for (item of columns(); track $index) {
        @if (!item.visible) {
        @if(item.type !== 'action'){
        <th [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth , width : item.width}">
          {{ item.label }}
        </th>
        } @else {
        <th pFrozenColumn [alignFrozen]="'right'" [frozen]="actionFrozen()" [ngClass]="{ 'font-bold': actionFrozen() }"
          [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth, width : item.width }"
          [ngClass]="actionFrozen() ? '!bg-gray-100' : ''">
          {{ item.label }}
        </th>
        } }
        }
      </tr>
    </ng-template>
    <ng-template #body let-data let-rowIndex="rowIndex">
      <tr>
        <td>
          <p-checkbox [binary]="true" [ngModel]="selectedRows.includes(data)"
            (onChange)="toggleRow(data, $event)">></p-checkbox>
        </td>
        @for (item of columns(); track $index) {
        @if (!item.visible) {
        @switch (item.type) {
        @case ('index') {
        <td [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth,width : item.width }">
          <span>{{ getIndex(rowIndex) }}</span>
        </td>
        }
        @case ('text') {
        <td [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth, width : item.width }"
          pTooltip="{{ item.tooltip && data[item.tooltipField ?? ''] }}" tooltipPosition="top">
          <span [ngClass]="item.lineClamp ? 'line-clamp-' + item.lineClamp  : ''">{{ data[item.field] | truncate :
            item.truncate }}</span>
        </td>
        }
        @case ('image') {
        <td [style]=" { minWidth: item.minWidth, maxWidth: item.maxWidth, width : item.width }">
          <img [ngSrc]="data[item.field] " width="56" height="56"
            class="aspect-square object-cover object-center rounded" alt="item image" [style]="{width : item.width }"
            priority />
        </td>
        }
        @case ('currency') {
        <td [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth , width : item.width}">
          <span>{{ data[item.field] | currency:'VND' }}</span>
        </td>
        }
        @case ('date') {
        <td [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth , width : item.width}">
          <span>{{ data[item.field] | date: 'dd/mm/YYYY' }}</span>
        </td>
        }
        @case ('action') {
        <td pFrozenColumn [frozen]="actionFrozen()" [alignFrozen]="'right'"
          [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth,  width : item.width}"
          [ngClass]="actionFrozen() ? '!bg-gray-100' : ''">
          <div class=" flex gap-2">
            @for (btn of item.actionButtons; track $index) {
            <button [pTooltip]="btn.tooltipLabel ?? ''" severity="secondary" tooltipPosition="top"
              class="px-2 py-1 rounded bg-blue-600 text-white text-sm" (click)="btn?.action()"
              (click)="onActionClick(btn, data)">
              @if (btn.icon) {
              <i class="{{ btn.icon }}"></i>
              }
              {{ btn.label }}
            </button>
            }
          </div>
        </td>
        }
        @default {
        <td [style]="{ minWidth: item.minWidth, maxWidth: item.maxWidth }">
          <span>{{ data[item.field] }}</span>
        </td>
        }
        }
        }
        }
      </tr>
    </ng-template>
  </p-table>
</div>
<p-popover #op>
  <div class="flex flex-col gap-3">
    <h1>Column Toggle</h1>
    <div class="grid grid-cols-2 gap-2 w-[25rem] bg-slate-50 p-2 rounded">
      @for (item of columns(); track $index) {
      <div class="flex items-center gap-2">
        <p-checkbox [inputId]="item.field" [name]="item.field" [(ngModel)]="formModelColumn[item.field]" [binary]="true"
          [invalid]="isInvalid()"></p-checkbox>
        <label [for]="item.field">{{ item.label }}</label>
      </div>
      }
    </div>
    <div class="flex justify-center gap-3">
      <button pButton severity="contrast" type="submit" size="small" class="!py-1.5" (click)="onSubmit(op)">
        <span pButtonLabel>Apply</span>
      </button>
      <button pButton severity="danger" type="submit" size="small" class="!py-1.5" (click)="op.hide()">
        <span pButtonLabel>Cancel</span>
      </button>
    </div>
  </div>
</p-popover>