<div class="h-[55px] flex justify-between items-center pl-4 bg-white border-b">
  <div><h1 class="text-2xl font-semibold">Báo cáo chứng từ hóa đơn</h1></div>
  <div class="hidden lg:block">
    <div class="flex gap-4">
      <p-button (click)="op.toggle($event)" icon="pi pi-user" label="Tài khoản" size="large" />
    </div>
  </div>
</div>
<p-popover #op>
  <div class="flex flex-col gap-3 w-52 text-sm">
    <div class="font-semibold text-gray-900">{{ user()?.firstName }} {{ user()?.lastName }}</div>

    <div class="text-gray-600">
      {{ user()?.email }}
    </div>

    <div class="text-sm text-gray-500 italic">Vai trò: {{ user()?.role }}</div>

    <button
      pButton
      label="Đăng xuất"
      icon="pi pi-sign-out"
      styleClass="p-button-danger p-button-sm mt-2"
      (click)="logout()"
    ></button>
  </div>
</p-popover>
