:host ::ng-deep {
  .p-datatable {
    position: relative;
    .p-datatable-tbody {
      tr > td {
        height: 41px;
        padding: 6px;
        white-space: nowrap;
      }
    }
    .p-datatable-thead > tr > th {
      min-height: 41px;
      padding: 6px;
    }
  }
}
::ng-deep {
  .p-tooltip {
    font-size: 12px;
  }
}
