::ng-deep {
  p-dynamicdialog {
    .p-dialog-header {
      padding: 10px 20px;
      border-bottom: 1px solid #eeeeee;
    }
    .p-dialog-content {
      padding: 10px 0 30px 0;
      overflow-y: hidden;
    }
  }
}
